@use '../utils/mixins';
@use '../styles/variables' as *;

.pre-animation--right {
  @include mixins.on-desktops {
    opacity: 0;
  }
}

.animation--right {
  @include mixins.on-desktops {
    animation: move-right 1000ms ease-out forwards;
  }
}

.pre-animation--left {
  @include mixins.on-desktops {
    opacity: 0;
  }
}

.animation--left {
  @include mixins.on-desktops {
    animation: move-left 1000ms ease-out forwards;
  }
}

.pre-animation--appear {
  @include mixins.on-desktops {
    opacity: 0;
  }
}

.animation--appear {
  @include mixins.on-desktops {
    animation: appear 1000ms ease-in-out forwards;
  }
}

@keyframes move-right {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes move-left {
  from {
    transform: translateX(200px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
