@use '../utils/mixins';

.compare-bikes {
  margin-bottom: 92px;

  @include mixins.on-tablets {
    margin-bottom: 120px;
  }

  @include mixins.on-desktops {
    margin-bottom: 180px;
  }

  &__products {
    @include mixins.page-grid;

    row-gap: 40px;
  }

  &__product {
    display: flex;
    flex-direction: column;

    grid-column: 1 / -1;

    @include mixins.on-tablets {
      grid-column: 2 / -2;
    }

    @include mixins.on-desktops {
      grid-column: span 4;
    }
  }
}
