.footer {
  margin: 0;
  overflow: hidden;

  position: sticky;
  z-index: -1;
  bottom: 0;

  &__img-wrapper {
    height: 200px;
    width: 100vw;

    @include on-tablets {
      height: 480px;
    }

    @include on-desktops {
      height: 555px;
    }
  }

  &__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 85% center;

    @include on-tablets {
      object-position: 70% center;
    }
  }
}
