@use '../utils/mixins';

.header {
  margin: 0;
  background-image: url(../images/header-bg-image-main.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;

    @include mixins.on-tablets {
      font-size: 64px;
    }

    @include mixins.on-desktops {
      font-size: 80px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
  }

  &__bottom {
    padding-bottom: 88px;

    @include mixins.on-tablets {
      padding-bottom: 130px;
    }

    @include mixins.on-desktops {
      padding-bottom: 203px;
    }
  }
}
