@use '../utils/mixins';

.section-title {
  margin: 0;
  margin-bottom: 48px;

  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;

  @include mixins.on-tablets {
    font-size: 48px;
  }

  @include mixins.on-desktops {
    font-size: 64px;
  }

  &--left {
    margin-bottom: 32px;
    text-align: left;
  }

  &--on-desktop {
    @include mixins.on-desktops {
      margin-bottom: 56px;
    }
  }

  &--on-tablets {
    @include mixins.on-tablets {
      margin-bottom: 64px;
    }

    @include mixins.on-desktops {
      margin-bottom: 48px;
    }
  }
}
