@use '../utils/mixins';

.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    height: 38px;
    width: 130px;

    @include mixins.on-tablets {
      height: 56px;
      width: 187px;
    }

    &-img {
      @include mixins.hover(transform, scale(1.2));
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
